# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [19]:
URL = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(URL, sep='\t')

### Step 4. See the first 10 entries

In [11]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [12]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [57]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [17]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [58]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [59]:
#Single level indexing as an array
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [30]:
by_item = chipo.groupby('item_name')
by_item = by_item.sum()
by_item = by_item.sort_values(['quantity'],ascending=False)
by_item.head(1)

                                       order_id  quantity  item_price
item_name
Chicken Bowl                             713926       761     7342.73
Chicken Burrito                          497303       591     5575.82
Chips and Guacamole                      449959       506     2201.04
Steak Burrito                            328437       386     3851.43
Canned Soft Drink                        304753       351      438.75
Chips                                    208004       230      494.34
Steak Bowl                               193752       221     2260.19
Bottled Water                            175944       211      302.56
Chips and Fresh Tomato Salsa             100419       130      361.36
Canned Soda                               76396       126      137.34
Chicken Salad Bowl                       117104       123     1228.75
Chicken Soft Tacos                        98395       120     1108.09
Side of Chips                             84769       110      185.90
Veggie Burrito                            80962        97      934.77
Barbacoa Burrito                          74718        91      894.75
Veggie Bowl                               72270        87      867.99
Carnitas Bowl                             62742        71      736.71
Barbacoa Bowl                             53972        66      672.36
Carnitas Burrito                          51652        60      597.83
Steak Soft Tacos                          50177        56      536.05
6 Pack Soft Drink                         52322        55      356.95
Chips and Tomatillo Red Chili Salsa       45556        50      147.50
Chicken Crispy Tacos                      47382        50      472.13
Chips and Tomatillo Green Chili Salsa     41170        45      132.75
Carnitas Soft Tacos                       37673        40      375.94
Steak Crispy Tacos                        35818        36      357.34
Chips and Tomatillo-Green Chili Salsa     21826        33       78.87
Steak Salad Bowl                          29590        31      343.59
Nantucket Nectar                          21814        29       98.31
Chips and Tomatillo-Red Chili Salsa       18344        25       59.75
Barbacoa Soft Tacos                       18725        25      250.46
Chips and Roasted Chili Corn Salsa        14999        23       67.85
Izze                                      10587        20       67.80
Veggie Salad Bowl                         17303        18      182.50
Chips and Roasted Chili-Corn Salsa        17462        18       43.02
Barbacoa Crispy Tacos                      5613        12      120.21
Barbacoa Salad Bowl                        9708        10      106.40
Chicken Salad                             10465         9       81.09
Carnitas Crispy Tacos                      5868         8       77.96
Veggie Soft Tacos                          5520         8       73.96
Burrito                                    1550         6       44.40
Veggie Salad                               7265         6       50.94
Carnitas Salad Bowl                        6693         6       66.34
Bowl                                        472         4       29.60
Steak Salad                                2362         4       35.66
Salad                                      1150         2       14.80
Crispy Tacos                                434         2       14.80
Chips and Mild Fresh Tomato Salsa           279         1        3.00
Carnitas Salad                             1500         1        8.99
Veggie Crispy Tacos                         668         1        8.49

### Step 10. For the most-ordered item, how many items were ordered?

In [63]:
by_item.max()

order_id    713926
quantity       761
dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [29]:
by_choice = chipo.groupby('choice_description')
by_choice = by_choice.sum()
by_choice = by_choice.sort_values(['quantity'],ascending=False)
by_choice.head(1)

                    order_id  quantity  item_price
choice_description
[Diet Coke]           123455       159      326.71

### Step 12. How many items were orderd in total?

In [9]:
total_items = chipo['quantity'].sum()
total_items

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [10]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [20]:
remove_dollar = lambda x: float(x.replace("$",""))
chipo.item_price = chipo.item_price.apply(remove_dollar)

#### Step 13.c. Check the item price type

In [21]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [34]:
revenue = sum(chipo['quantity']*chipo['item_price'])
print(f"The revenue was: ${revenue}")

The revenue was: $39237.020000000055

### Step 15. How many orders were made in the period?

In [35]:
unique_orders = chipo['order_id'].nunique()
unique_orders

1834

### Step 16. What is the average revenue amount per order?

In [36]:
# Solution 1
revenue / unique_orders

21.3942311886587

In [49]:
# Solution 2
chipo['revenue'] = chipo['quantity']*chipo['item_price']
by_order = chipo.groupby(['order_id'])
by_order = by_order.sum()
by_order.revenue.mean()

21.394231188658654

### Step 17. How many different items are sold?

In [62]:
chipo.groupby(['item_name']).sum().shape[0]

50